global_params:
  debug: false

registries:
  heath_ceramics:
    url: http://www.heathceramics.com/giftregistry/view/index/id/YOUR_UNIQUE_REGISTRY_ID

  crate_and_barrel:
    url: http://www.crateandbarrel.com/Gift-Registry/YOUR_NAMES/YOUR_UNIQUE_REGISTRY_ID

  zola:
    url: https://www.zola.com/registry/YOUR_REGISTRY_SLUG

  rei:
    url: http://www.rei.com/GiftRegistryDetails/YOUR_UNIQUE_REGISTRY_ID

  williams_sonoma:
    url: https://secure.williams-sonoma.com/registry/YOUR_UNIQUE_REGISTRY_ID/registry-list.html
